/* estilo.css */

table {
    width: 50%;
    border-collapse: collapse;
    border: 1px;
    margin: auto;
}

th, td {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: left;
   
}

thead {
    background-color: #314659;
}

th {
    background-color: #314659;
}



.conteudo{
    width: 700px;
    height: 500px;
    background: #0085C7;
    display: flex;
    margin: auto;
    margin-top: 100px;
    border-radius: 30px;
}

.conteudo article .area_login, form{
    margin: 10 300px;
    border: 1px solid red;
}

.area_login{
    margin-top: 10px;
    align-items: top;
    color: white;
    text-align: center;
}


.espacamento{
    margin-right: 750px;
}